<section class="home-banner"></section>

<section class="how-it-works">
	<div class="container">
		<h2 class="how-it-works__title">Como Funciona</h2>
		<p class="how-it-works__text">Entenda o que precisa para você ser um assinante <span>Pet in a Box.</span></p>
		<ul class="how-it-works-list">
			<li class="how-it-works-list__item how-it-works-item">
				<i class="how-it-works-item__icon icon-basket"></i>
				<p class="how-it-works-item__step">1º Passo</p>
				<h3 class="how-it-works-item__title">Selecione os produtos que deseja receber.</h3>
			</li>
			<li class="how-it-works-list__item how-it-works-item">
				<i class="how-it-works-item__icon icon-calendar"></i>
				<p class="how-it-works-item__step">2º Passo</p>
				<h3 class="how-it-works-item__title">Selecione a periodicidade que deseja recebê-los.</h3>
			</li>
			<li class="how-it-works-list__item how-it-works-item">
				<i class="how-it-works-item__icon icon-fighter-jet"></i>
				<p class="how-it-works-item__step">3º Passo</p>
				<h3 class="how-it-works-item__title">Seus produtos serão entregues em sua casa.</h3>
			</li>
		</ul>
		<div class="how-it-works__action">
			<a href="#" class="btn">Assine Agora</a>
		</div>
	</div>
</section>

<%= render :partial => "common/search" %>


<% if current_user %>
Logado como: <%= current_user.name %> - <%= current_user.email %>
<% end %>


