<div class="container-fluid">
<%= form_for([:admin, @product], :html => {:class => "form-horizontal", :multipart => true}) do |f| %>
    <%= render :partial => "form", :locals => { :f => f  } %>
<% end %>
</div>
