//Header
.header {
	background: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,.1);
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

//Nav
.nav {
	display: flex;
	list-style-type: none;
	align-items: center;
	padding: 0;
	margin: 15px 0;
	&__item {
		display: block;
		padding: 13px 20px;
		&:link, &:focus, &:visited {
			@include text(400, 13px, $primaryColor, uppercase);
			color: $primaryColor;
			text-decoration: none;
			transition: all .3s;
		}
		&--login {
			border: 1px solid $primaryColor;
			border-radius: 20px;
			margin-left: 20px;
		}
		&--sign-up {
			margin-left: 20px;
			background: $primaryColor;
			border: 1px solid $primaryColor;
			border-radius: 20px;
			&:link, &:focus, &:visited {
				color: #fff;
			}
		}
	}
}