
<div class="container">
	
	<%= render :partial => "common/search" %>
	<hr>
	<ul class="products">
		<% @products.each do |product| %>
			<%= render :partial => "common/product_box", locals:{product: product} %>
		<% end %>
	</ul>
	
</div>